.recette{
  flex-wrap: wrap;
  display: flex;
}
.recette div{
  padding: 15px;
  margin: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px lightblue;
  min-width: 100vh;
}
.notation{
  height: 40px;
}
.elemListe img{
  height: 15em;
  max-width: 40em;
}
.image-recette{
  width: 500px;
}
.avatar{
  width: 150px;
  margin-left: 25em;
}
.div-user{
  align-items: center;
}

.pagination a:hover:not(.active) {
  cursor: pointer;
  background-color: lightblue;
}
#deco{
  background-color: #d50000;
}
#deco:hover{
  background-color: #ff0000;
}
