body{
  margin: 0px;
  background-image: url('https://thumbs.dreamstime.com/b/papier-peint-sans-couture-de-mod-le-d-oeufs-au-plat-sur-le-fond-bleu-conception-plate-simple-illustration-vecteur-style-mignon-142043426.jpg');
}
a{
  color: black;
}
a:link{
  text-decoration: none;
}
nav{
  padding-top: 10px;
  background-color: #e3a815;
  opacity: 0.97;
}
h1{
  text-align: center;
  color: white;
}
aside{
  align-items: center;
  margin-top: -10px;
  padding: 10px;
  min-height: 100vh;
  background-color: white;
  width: 17%;
  box-shadow: 0.5 0.5 0.5 magenta;
}
aside input{
  margin: 15px 5px 5px 5px;
  border-radius:6px;
	background: #e3a815;
  opacity: 0,98;
  width: 145px;
	color:white;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	box-shadow:1px 1px 2px lightblue;
}
.a-recette-ajoute{
  text-decoration: none;
  color: #e3a815;
}
.a-favoris{
  text-decoration: none;
  color: #e3a815;
}
.all{
  display: flex;
}
.contenue div{
  width : 85%;
}
.searchBar{
  margin-top : 30px;
  max-height: 25vh;
  padding: 5px;
  min-width: 65em;
  background-color: white;
  box-shadow: 5px 5px 5px lightblue;
}
.rechercher{
  margin: 10px;
  width: 83%;
}
.listeRecette{
  margin-top : 30px;
  width : 70%;
  min-height: 30vh;
  display: flex;
}
.elemListe{
  padding: 15px;
  margin: 8px 5px 5px 10px;
  min-width: 35em;
  background-color: white;
  box-shadow: 5px 5px 5px lightblue;
}
.elemListe:hover{
  border-color: magenta;
}
.basique{
  margin: 10px;
  padding: 15px;
  width: 83%;
  background-color: white;
  box-shadow: 5px 5px 5px lightblue;
}

.avat{
  margin:0;
  margin-left:30%;
  width : 60px;
}
