.formulaire{
  background-color: white;
  box-shadow: 0.5 0.5 0.5 lightblue;
}
.formgne{
  display: flex;
}
.formgne input{
  margin: 5px;
}
.gne{
  padding: 5px;
}
.form-horizontal input{
  width: 80%;
  margin-right: 60px;
}
.bouton-home{
  width: 80px;
  margin: 3px 0 3px 35em;
}
nav{
  margin-left: -80px;
  width: 100em;
  display: flex;
}
nav h1{
  margin-left: 37%;
}
