{% macro pagination_widget(pages, endpoint) %}
    <ul class="pagination">
        {% for p in pages %}
        <li id="pagination-li" class="page-item {{p['class']}}">
            <a href="{{ url_for(endpoint, page = p['href'], **kwargs) }}"
                class="page-link"
                aria-label="{{ p['page'] }}">
                <span aria-hidden="true">{{p['page_label'] | safe}}</span>
                <span class="sr-only">{{p['page_label'] | safe}}</span>

            </a>
        </li>
        {% endfor %}
    </ul>
{% endmacro %}
