{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block aside %}
{% include 'navbar_connecte.html' %}
<aside class="">
  <div class="div-user">
    <h3>Bienvenue <a href="{{ url_for('voirProfil') }}">{{ current_user.pseudo }}<img src="{{ lien }}" class="avat" alt="Mon avatar"/> </a></h3>
  </div>

  <form class="formulaire" action="{{ url_for('logout') }}" method="GET">
    <input type="submit" id="deco" name="" value="Déconnexion">
  </form>

  <h2>Mes favoris</h2>
  {% for elem in favoris %}
  <a class="a-favoris" href="{{ url_for('accueil_connecte_consulterRecette',idRecette=elem[0],favoris=0) }}">{{ elem[1] }}</a>
</br>
  {% endfor %}
  <a href="{{ url_for('accueil_connecte_recettes_fav_ajout',fav=1) }}">Voir plus >></a>
  <h2>Recettes ajoutées</h2>
  {% for ele in recette_ajoutees %}
  <a class="a-recette-ajoute" href="{{ url_for('accueil_connecte_consulterRecette',idRecette=ele.idRecette,favoris=0) }}">{{ ele.label }}</a>
</br>
  {% endfor %}
  <a href="{{ url_for('accueil_connecte_recettes_fav_ajout',fav=0) }}">Voir plus >></a>
  <form class="formulaire" action="{{ url_for('choixAjouterRecette') }}" method="GET">
    <input type="submit" name="ajouter" value="+ Ajouter Recette">
  </form>
</aside>
{% endblock %}

{% block searchbar %}
<div class="contenue">

  <div class="searchBar">
      <form class="form-horizontal" role = "form" method="POST" action="{{ url_for('accueil') }}">
        {{ rech.hidden_tag() }}
        {{ rech.texte() }}
        <button type="submit" class="btn btn-default">Rechercher</button>
      </form>

  </div>

{% endblock %}

{% block main %}

<div class="contenue">
    <div class="listeRecette">
      {% for r in recettes %}
      <a href="{{ url_for('accueil_connecte_consulterRecette',idRecette=r['idRecette'],favoris=0) }}">
        <div class="elemListe">
          <p><h2>{{ r['label'] }}</h2> Ajoutée par {{  r['pseudo'] }}</p>
          <p>note : {{ r['note'] }} / 5</p>
          <img src="{{ r['image_'] }}" alt="image">
        </div>
      </a>
      {% endfor %}
    </div>
    {{ macros.pagination_widget(pages, 'accueil_connecte') }}
</div>

{% endblock %}
