{% extends 'accueil_connecte.html' %}
{% import "_macros.html" as macros %}
{% block searchbar %}{% endblock %}

{% block main %}

<div class="contenue">

    <div class="listeRecette">

        {% if recettes == [] %}
        <div class="elemListe">
        <p>Vous n'avez encore épinglé aucune recette !</p>
    </div>
        {% endif %}

      {% for r in recettes %}
      <a href="{{ url_for('accueil_connecte_consulterRecette',idRecette=r['idRecette'],favoris=0) }}">
        <div class="elemListe">
          <p><h2>{{ r['label'] }}</h2> Ajoutée par {{  r['pseudo'] }}</p>
          <p>note : {{ r['note'] }} / 5</p>
          <img src="{{ r['image_'] }}" alt="image">
        </div>
      </a>
      {% endfor %}

    </div>
    {{ macros.pagination_widget(pages, 'accueil_connecte_recettes_fav_ajout',fav=fav) }}
  </div>

{% endblock %}
