{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block aside %}
{% include 'navbar.html' %}

<aside class="">
  <form class="formulaire" action="{{ url_for('login') }}" method="post">
    <input type="submit" name="" value="se connecter">
  </form>
  <form class="formulaire" action="{{ url_for('sinscrire') }}" method="post">
    <input type="submit" name="" value="s inscrire">
  </form>
</aside>

{% endblock %}

{% block searchbar %}
<div class="contenue">

  <div class="searchBar">
      <form class="form-horizontal" role = "form" method="POST" action="{{ url_for('accueil') }}">
        {{ rech.hidden_tag() }}
        {{ rech.texte() }}
        <button type="submit" class="btn btn-default">Rechercher</button>
      </form>

  </div>

  {% endblock %}

  {% block main %}

  <div class="contenue">

    <div class="listeRecette">
      {% for r in recettes %}
      <a href="{{ url_for('accueil_non_connecte_consulterRecette',idRecette=r['idRecette']) }}">
        <div class="elemListe">
          <p><h2>{{ r['label'] }}</h2> Ajoutée par {{  r['pseudo'] }}</p>
          <p>note : {{ r['note'] }} / 5</p>
          <img src="{{ r['image_'] }}" alt="image">
        </div>
      </a>
      {% endfor %}
    </div>
    {{ macros.pagination_widget(pages, 'accueil') }}
  </div>

  {% endblock %}
