{% extends 'accueil_connecte.html' %}
{% block searchbar %}{% endblock %}
{% block main %}

<form class="f" method="POST" action="{{ url_for('accueil_connecte') }}">
  <button type="submit" class="btn btn-default">Annuler l'ajout de la recette </button>
</form>

<div class="basique">

    <form class="form-horizontal" role = "form" method="POST" action="{{ url_for('ajouterRecette',ajout=1,ingr=ingr,etapes=etapes) }}">
        {{ form.hidden_tag() }}
        <h2>
            {{ form.nomR.label }}
        </h2>

        <div class = "form-group">
            
            <div class="col-sm-10">
                {{ form.nomR(size=50, class_="form-control") }}
            </div>
        </div>
        <h2>
          <b>Le lien de l'image :</b>
        </h2>
        {{ form.image_ }}

        <h2>
          {{ form.note.label }} 
      </h2>
        <p>{{ form.note }} veuillez attribuer une note entre 1 et 5 ! </p>

        <div class="ingredients">
            <h2><b>Ingrédients : </b></h2>
            <table>
                <tr>
                    <th>Ingrédient</th>
                    <th>Quantité</th>
                    <th>Unite</th>
                </tr>
            {% for fi in form.ingredients %}
            <tr>
                <td>{{ fi.nom }}</td>
                <td>{{ fi.quantite }} </td>
                <td>{{ fi.unite }} </td>
                <td>{{ fi.idIngredientOriginal }} </td>
            </tr>
            {% endfor %}
        </table>
        </div>
        <div class="etapes">
            <h2><b>Etapes :</b> </h2>
            <table>
            {% for f in form.etapes %}
            <tr><td>Numéro étape :</td></tr>
            <tr>
                <td>{{ f.id_ }}</td>
            </tr>
            <tr><td>Description de l'étape :</td></tr>
            <tr>
                <td>{{ f.etape_t }} </td>
            </tr>
            {% endfor %}
        </table>
        </div>
        
        <div class = "form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Valider Ajout</button>
        </div>
      </div>
    </form>
    
</div>


{% endblock %}
