{% extends 'accueil_connecte.html' %}

{% block searchbar %}{% endblock %}
{% block main %}
<form class="f" method="POST" action="{{ url_for('accueil_connecte_consulterRecette',idRecette=id,favoris=0) }}">
    <button type="submit" class="btn btn-default">Annuler l'ajout du commentaire </button>
  </form>
<div class="basique">
<form class="form-horizontal" role = "form" method="POST" action="{{ url_for('ajouterCommentaireRecette',idRecette=id) }}">
  {{ form.hidden_tag() }}
  <div class = "form-group">
      <label for="texte" class="col-sm-2 control-label">
          {{ form.texte.label }}
      </label>
      <div class="col-sm-10">
          {{ form.texte(class_="form-control", placeholder="Ecrivez votre commentaire") }}
      </div>
  </div>
  <div class = "form-group">
      <label for="note" class="col-sm-2 control-label">
          {{ form.note.label }}
      </label>
      <div class="col-sm-10">
          {{ form.note(size=50, class_="form-control") }}
      </div>
  </div>
  
  <div class = "form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Valider le commentaire</button>
      </div>
  </div>
</form>
<p>{{ probleme }}</p>
</div>
</div>

{% endblock %}
