{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='consulter.css') }}"/>
    <link rel="icon" type="image/jpg" href="https://www.virgys.com/img/p/6/6/7/667-thickbox_default.jpg">
{% endblock %}

{% block content %}

{% block aside %}
{% endblock %}

<main role="main" class="container">
  {% block searchbar %}{% endblock %}
  {% block main %}{% endblock %}
</main>
</div>
{% endblock %}
