{% extends 'accueil_connecte.html' %}
{% block searchbar %}{% endblock %}
{% block main %}

<form class="f" method="POST" action="{{ url_for('accueil_connecte') }}">
  <button type="submit" class="btn btn-default">Annuler l'ajout de la recette </button>
</form>

<div class="basique">
    <form class="formulaire" method='POST' action="{{ url_for('choixAjouterRecette') }}">
        {{ form.hidden_tag() }}
      <p>{{ form.nbIngr.label }}</p>{{ form.nbIngr }}
      <p>{{ form.nbEtapes.label }}</p>{{ form.nbEtapes }}
      {{ form.sub }}
  </form>
    
</div>


{% endblock %}
