{% extends 'accueil.html' %}
{% block main %}
  <div class="recette">
    <div class="intro">
      <h2>Préparation : {{ title }} </h2>
      <p>Ajoutée par {{ createur }}</p>
      <p> Note moyenne : {{ noteG }}/5
        {% for i in range(noteG) %}
          <img src="https://images.emojiterra.com/twitter/512px/2b50.png" class="notation" alt="étoile notation remplie {{ i }}">
        {% endfor %}
      </p>
      <img class="image-recette" src="{{ image }}" alt="{{ title }}">
    </div>

    <div class="info_ingredients">
      <h3>Ingrédients : </h3>
      {% for e in info_ingredients %}
      <p>{{ e[2].nomI }}  : {{ e[0] }} {{ e[1] }} <br/> </p>
      {% endfor %}
    </div>

    <div class="etape">
      <h3>Etapes : </h3>
      {% for eta in etapes %}
      <p>{{ loop.index }}. {{ eta.texte }}</p>
      {% endfor %}
    </div>

    <div class="commentaire">
      <h3>Commentaires : </h3>

      {%  if commentaires==[] %}
      <p> 0 commentaires pour le moment sur cette  recette </p>

      {% else %}
      {% for info in commentaires %}
      <p> {{ info[0].dateCom }} </p>
      <p> {{ info[1] }} </p>
      <p> {{ info[0].texteCom }} </p>
      <p>

      {% for i in range(info[0].noteCom) %}
      <img src="https://images.emojiterra.com/twitter/512px/2b50.png" class="notation" alt="étoile notation remplie {{ i }}">
      {% endfor %}
      {{ info[0].noteCom }}/5 </p>
      {% endfor %}

      {% endif %}
    </div>
  </div>
{% endblock %}
