{% extends 'accueil_connecte.html' %}
{% block searchbar %}{% endblock %}
{% block main %}

<form method='POST' action="{{  url_for('modifierProfil',enregistrer=0) }}">
    <button type="submit"> Annuler les modifications </button>
</form>
<div class="basique">
   
    <form class="form" role = "form" method="POST" action="{{ url_for('modifierMDP',enregistrer=1) }}">
        {{ form.hidden_tag() }}
        <p>{{ form.mdp.label }}</p>{{ form.mdp }}
        <p>{{ form.mdpConfirmation.label }}</p>{{ form.mdpConfirmation }}
        {% if enregistrer==2 %}
        <p> Le mot de passe est différent du mot de passe de confirmation ! Veuillez réssayer ! </p>
        {% endif %}
        <button type="submit" class="btn btn-default">Enregistrer les modifications</button>
    </form>
</div>
    
{% endblock %}