{% extends 'accueil_connecte.html' %}

{% block searchbar %}{% endblock %}
{% block main %}
<div class="basique">
    <form class="f" method="POST" action="{{ url_for('accueil_connecte_consulterRecette',idRecette=idRecette,favoris=0) }}">
        <button type="submit" class="btn btn-default">Annuler les modifications</button>
    </form>

    <form class="form-horizontal" role = "form" method="POST" action="{{ url_for('modifierRecette',idRecette=idRecette,repere=1) }}">
        {{ form.hidden_tag() }}
        <h2>
            {{ form.nom_recette.label }}
        </h2>

        <div class = "form-group">
            
            <div class="col-sm-10">
                {{ form.nom_recette(size=50, class_="form-control") }}
            </div>
        </div>
        <div class="ingredients">
            <h2>Ingrédients : </h2>
            <table>
            {% for fi in form.ingredients %}
            <tr>
                <td>{{ fi.nom }}</td>
                <td>{{ fi.quantite }} </td>
                <td>{{ fi.unite }} </td>
                <td>{{ fi.idIngredientOriginal }} </td>
            </tr>
            {% endfor %}
        </table>
        </div>
        <div class="etapes">
            <h2>Etapes : </h2>
            <table>
            {% for f in form.etapes %}
            <tr>
                <td>Numéro étape : {{ f.id_ }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td>{{ f.etape_t }} </td>
            </tr>
            {% endfor %}
        </table>
        </div>
        <div class = "form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form.sub }}
            </div>
        </div>
    </form>
    
</div>
{% endblock %}