{% extends 'accueil_connecte.html' %}
{% block searchbar %}{% endblock %}
{% block main %}
<form class="f" method="POST" action="{{ url_for('voirProfil') }}">
    <button type="submit" class="btn btn-default">Annuler les modifications du profil </button>
  </form>
<div class="basique">
    <form method='POST' action="{{ url_for('modifierMDP',enregistrer=0) }}">
        <button type="submit"> Modifier mon mot de passe </button>
    </form>
    <form class="form" role = "form" method="POST" action="{{ url_for('modifierProfil',enregistrer=1) }}">
        {{ form.hidden_tag() }}
        <p>{{ form.avatar.label }}</p>{{ form.avatar }}
        <p>{{ form.pseudo.label }}</p>{{ form.pseudo(size=50, class_="form-control") }}
        <p>{{ form.mail.label }}</p>{{ form.mail(size=70, class_="form-control") }}
        {% if enregistrer==2 %}
        <p> Le profil ne peut pas être modifier car le pseudo que vous avez choisi existe déjà ! Veuillez choisir un autre pseudo ! </p>
        {% endif %}
        <button type="submit" class="btn btn-default">Enregistrer les modifications</button>
    </form>
</div>
    
{% endblock %}