<nav>
  <h1>Recette du Chef</h1>
  <a href="{{ url_for('accueil_connecte') }}"><img class="bouton-home" src="https://image.flaticon.com/icons/png/512/69/69524.png" alt=""></a>
</nav>
<div class = "all">
