{% if current_user.is_authenticated %}
{% extends 'accueil_connecte.html' %}
{% else %}
{% extends 'accueil.html' %}
{% endif %}
{% import "_macros.html" as macros %}
{% block searchbar %}
<div class="basique">
    <div id="rechercherD">
      <form class="form-horizontal" role = "form" method="POST" action="{{ url_for('recherche',rec=r) }}">
        {{ radioTri.hidden_tag() }}
        <div class = "form-group">
          <div class="col-sm-10">
          {{ radioTri.choix() }}
          </div>
        </div>
        <div class = "form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Valider le tri</button>
          </div>
        </div>
        </form>
    </div>
  </div>
  {% endblock %}

{% block main %}

<div class="contenue">

    <div class="listeRecette">
        <p>{{ rec }}</p>
      {% if recettes==[] %}
      <div class="elemListe"><p>Aucune correspondance trouvée</p></div>
      {% endif %}
      {% for r in recettes %}
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('accueil_connecte_consulterRecette',idRecette=r['idRecette'],favoris=0) }}">
      {% else %}
      <a href="{{ url_for('accueil_non_connecte_consulterRecette',idRecette=r['idRecette']) }}">
      {% endif %}
        <div class="elemListe">
          <p><h2>{{ r['label'] }}</h2> Ajoutée par {{  r['pseudo'] }}</p>
          <p>note : {{ r['note'] }} / 5</p>
          <img src="{{ r['image_'] }}" alt="image">
        </div>
      </a>
      {% endfor %}
    </div>
    {{ macros.pagination_widget(pages, 'accueil_connecte') }}
  </div>

{% endblock %}
