{% extends 'base.html' %}

{% block aside %}
<nav>
  <h1>Recette du Chef</h1>
  <a href="{{ url_for('accueil') }}"><img class="bouton-home" src="https://image.flaticon.com/icons/png/512/69/69524.png" alt=""></a>
</nav>
<div class = "all">
  <aside class="">
  </aside>
  {% endblock %}
  {% block main %}
<div class="basique">
  <h2>S'inscrire</h2>
<form class="form-horizontal" role = "form" method="POST" action="{{ url_for('sinscrire') }}">
    {{ form.hidden_tag() }}
    <div class = "form-group">
        <label for="pseudo" class="col-sm-2 control-label">
            {{ form.pseudo.label }}
        </label>
        <div class="col-sm-10">
            {{ form.pseudo(size=50, class_="form-control", placeholder="Pseudo") }}
        </div>
    </div>
    <div class = "form-group">
        <label for="password" class="col-sm-2 control-label">
            {{ form.password.label }}
        </label>
        <div class="col-sm-10">
            {{ form.password(size=50, class_="form-control", placeholder="Password") }}
        </div>
    </div>

    <div class = "form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Valider</button>
        </div>
    </div>
</form>
<p>{{ probleme }}</p>
</div>
{% endblock %}
