{% if current_user.is_authenticated %}
{% extends 'accueil_connecte.html' %}
{% else %}
{% extends 'accueil.html' %}
{% endif %}
{% import "_macros.html" as macros %}
{% block searchbar %}{% endblock %}

{% block main %}
<div class="contenue">

    <div class="listeRecette">
      {% if recettes==[] %}
      <div class="elemListe"><p>Aucune correspondance trouvée</p></div>
      {% endif %}
      {% for r in recettes %}
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('accueil_connecte_consulterRecette',idRecette=r['idRecette'],favoris=0) }}">
      {% else %}
      <a href="{{ url_for('accueil_non_connecte_consulterRecette',idRecette=r['idRecette']) }}">
      {% endif %}
        <div class="elemListe">
          <p><h2>{{ r['label'] }}</h2> Ajoutée par {{  r['pseudo'] }}</p>
          <p>note : {{ r['note'] }} / 5</p>
          <img src="{{ r['image_'] }}" alt="image">
        </div>
      </a>
      {% endfor %}
    </div>
    {{ macros.pagination_widget(pages, 'accueil_connecte') }}
</div>
{% endblock %}
