{% extends 'accueil_connecte.html' %}
{% block searchbar %}{% endblock %}
{% block main %}
<div class="basique">
    <img class="avatar" src= "{{ afficher.avatar }}" alt="Avatar"/>
    <p>Mon pseudo : {{ afficher.pseudo }}</p>
    <p>Mon mail : {{ afficher.mail }}</p>
    <p>Mon mot de passe : ******* </p>
    <form method='POST' action="{{ url_for('modifierProfil',enregistrer=0) }}">
    <button type="submit" >Modifier mon profil </button>
</form>
</div>
{% endblock %}
